*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    grid-column: 1/13;
    grid-row: 1/5;
    align-items: center;
    background-color: bisque;
}

.contenedorJuegos{

    display: flex;
    flex-wrap: wrap;
    
}

.contenedorGame{
    width: 50%;
    height: 50%;
    padding: 50px;
}

.tituloGame{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4vw;
    background-color: bisque;
}

.ratingGame{
    background-color: bisque;
}

.imgContenedorJuegos{
    width: 100%;
    height: 100%;
}

.imgBackground{
    z-index: -1;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:fixed;
    top: 0
    

}
.contenedorLoading{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(16,53px);
    background-color:black;
   
    
}

.imgBackgroundLoading{
    align-self: center;
    text-align: center;
    
    grid-column: 4/13;
    grid-row: 1/40;
    width: 65%;
    height: 65%;
    object-fit: contain;
    
    
}